<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>We Focuse On Making The Best In All Sectors</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fa fa-code"></i></div>
          <h4 class="title">Software Development</h4>
          <p class="description">We build websites that mirror your brand's character and devise customized
            solutions aimed at maximizing their influence on customers.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fa fa-microscope"></i></div>
          <h4 class="title">Quality Assurance</h4>
          <p class="description">Our quality assurance team conducts end-to-end testing that ensures your software
            remains bug-free.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fa fa-comments"></i></div>
          <h4 class="title">Consulting</h4>
          <p class="description">We offer specialized consulting services designed to address vital challenges faced by
            enterprises and foster stronger business growth by harnessing cutting-edge technologies.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fa fa-bullhorn"></i></div>
          <h4 class="title">Digital Marketing</h4>
          <p class="description">we can handle every facet of website development, design, social media, SEO, and more.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Services Section -->